.available-tutors {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 11, 10);

}
.available-tutors-heading{
    color: rgb(165, 167, 166);
    text-shadow: rgb(93, 170, 93) 1px 0 5px;
}

.tutor-card {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80vw;
    margin-top: 3rem;
    padding: 1rem;
    color: rgb(165, 167, 166);
    box-shadow:  .5em .5em 3em  rgba(14, 170, 14, 0.472);
    border-radius: 25px;
}
.tutor-card button{
    width: 25rem;
    margin: 1rem;
}
.tutor-card-header {
     display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    background-color: none;
}

.tutor-profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 120%;
    border: 1px solid black;
    box-shadow: .25em .25em 30em rgba(14, 170, 14, 0.472);
}
.help-link a{
    text-decoration: none;
    color: rgb(165, 167, 166);
    padding: 1rem;
}

/* .tutor-description {

} */