body{
    background-color: rgba(7, 7, 7, 0.877);

}
.login-form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.877);
}
.login-form{
    background-color: rgba(7, 7, 7, 0.877);
    height: 300px;
    width: 450px;
    box-shadow:  .5em .5em 3em  rgba(14, 170, 14, 0.472);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-radius: 25px;
}
.login-form label{
    font-size: 30px;
    color:rgba(255, 255, 255, 0.524);
    text-shadow: rgb(93, 170, 93) 1px 0 20px;
}
.login-form input{
    color:rgba(255, 255, 255, 0.755);
    background: rgba(7, 7, 7, 0.877);
    border-color: rgba(14, 170, 14, 0.472);
    font-size: 15px;
    margin-left: .5rem;
}
.login-form input:focus{
    outline: none;
}