.profile-card {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(10, 11, 10);
    width: 100vw;
    margin-top: 2rem;
    gap: 1rem;
    padding: 1rem;
    color: white;
    box-shadow:  .5em .5em 3em  rgba(14, 170, 14, 0.472);
    font-size: 25px;
}

.profile-card-header {
     display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    background-color: none;
}
.post-card{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80vw;
    margin-top: 3rem;
    padding: 1rem;
    color: rgb(165, 167, 166);
    box-shadow:  .5em .5em 3em  rgba(14, 170, 14, 0.472);
    border-radius: 25px;
}
.post-card img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 120%;
    border: 1px solid black;
    box-shadow: .25em .25em 30em rgba(14, 170, 14, 0.472);
}